@font-face {
  font-family: "geist";
  /* src: url("Geist-Regular.woff2") format("woff2"); */
  src: url("font2.woff2") format("woff2");
}

html {
    font-family: 'geist', sans-serif;
    -webkit-font-smoothing: antialiased;
}

@layer base {
  :root {
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --muted-foreground: 215.4 16.3% 46.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}